.Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    flex-grow: 1; /* Allows the Palette-colors to take up remaining space */
    overflow: auto; /* Ensures it is scrollable if content overflows */
}

.Palette-footer {
    background-color: white;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

.emoji {
    font-size: 1.5rem;
    margin: 0 1rem;
}